body{
    background-color: rgb(0, 217, 255);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#numtaker{
    width: 250px;
    height: 30px;
    border-radius: 4px ;
}

button{
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
p{
    
    margin-top: 0px;
    font-size: 22px;
    font-weight: bold;
    transform: scale(1.1);



}