body{
    background-color: rgb(0, 217, 255);
    min-height: 100vh;
    margin : 0px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 300px;
    background: white;
    border-radius: 4px;
    padding: 20px 24px;

}
#numtaker{
    width: 250px;
    height: 30px;
    border-radius: 4px ;
    
}

button{
    margin: 20px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}
p{
    background-color: black;
    color: brown;
    margin-top: 0px;
    font-size: 44px;
    font-weight: bold;
    transform: scale(1.1);



}